{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block login %}
{% if GLOBAL.isSignedIn(): %}
<li class="nav-item"><a href="{{url_for('signIn')}}" class="nav-link text-white px-2">Log out</a></li>
{% else %}
<li class="nav-item"><a href="{{url_for('signIn')}}" class="nav-link text-white px-2">Login</a></li>
<li class="nav-item"><a href="{{url_for('signUp')}}" class="nav-link text-white px-2">Sign up</a></li>
{% endif %}
{% endblock %}
{% block searchbox %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4" style="background-color: #212529; padding-bottom: 5%; padding-top: 5%;">
          <img src="../static/Peter.png" width="200px" style="border-radius: 100%; margin-left: 77.5%;" alt="">
      </div>
      <div class="col-1" style="padding-bottom: 5%; padding-top: 5%;" ></div>
      <div class="col-7" style="padding-bottom: 5%; padding-top: 5%;" >
        <h3 class="text-white text-uppercase" style="padding: 10px;">Peter Emil</h3>
        <h4 class="text-white" style="padding: 10px;">Student at faculty of computer and information sciences, Ain Shams University</h4></div>
      </div>
      <div class="row">
        <div class="col-4" style="background-color: #212529;  padding-bottom: 5%;">
          <img src="../static/Amir.jpeg" width="200px" style="border-radius: 100%; margin-left: 77.5%;" alt="">
      </div>
        <div class="col-1" style="padding-bottom: 5%;" ></div>
        <div class="col-7" style="padding-bottom: 5%; " >
            <h3 class="text-white text-uppercase" style="padding: 10px;">Amir Shokry</h3>
            <h4 class="text-white" style="padding: 10px;">Student at faculty of computer and information sciences, Ain Shams University</h4></div>
        </div>
        <div class="row">
            <div class="col-4" style="background-color: #212529; padding-bottom: 5%;">
              <img src="../static/George.png" width="200px" style="border-radius: 100%; margin-left: 77.5%;" alt="">
          </div>
          <div class="col-1" style="padding-bottom: 5%; padding-top: 5%;" ></div>
          <div class="col-7" style="padding-bottom: 5%; padding-top: 5%;" >
            <h3 class="text-white text-uppercase" style="padding: 10px;">George Samy</h3>
            <h4 class="text-white" style="padding: 10px;">Student at faculty of computer and information sciences, Ain Shams University</h4></div>
          </div>
          <div class="row">
            <div class="col-4" style="background-color: #212529;  padding-bottom: 5%;">
              <img src="../static/Mark.jpg" width="200px" style="border-radius: 100%; margin-left: 77.5%;" alt="">
          </div>
            <div class="col-1" style="padding-bottom: 5%;" ></div>
            <div class="col-7" style="padding-bottom: 5%; " >
                <h3 class="text-white text-uppercase" style="padding: 10px;">Mark Nassef</h3>
                <h4 class="text-white" style="padding: 10px;">Student at faculty of computer and information sciences, Ain Shams University</h4></div>
            </div>
  </div>
{% endblock %}