{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block login %}
  <li class="nav-item"><a href="{{url_for('signIn')}}" class="nav-link text-white px-2">Log out</a></li>
{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-4 g-4" style="margin-left: 10%; margin-right: 10%; padding-left: 1%; padding-right: 1%;">
    {% for i in data %}
    <div class="col">
        <div class="card h-100">
          <img src="https://books.google.com.eg/books/content?id=TXcwKYcMFyoC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE71ysdor-ERVkTB5x5DJkLtldt9H-nTW0AL_GbI6IMIXZZdQJpsA3drQZDk06juW-ogN2TxkA2go12E75yE6nJcLiFtqYwIImqaPAG0iUwxjHzbI8FZbxWWrFhVoflIA5lD0p3P9" class="img-fluid rounded-start" alt="...">
          <div class="card-body">
            <a href="#" style="text-decoration:None" class="cover"><h5 class="card-title" >{{i[1]}}</h5></a>
            <h6>{{i[2]}}</h6>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>

{% endblock %}
